main
{
    display: flex;
    height: calc(100vh - 37px);
    flex-direction: row;
   
}

#sectionA 
{
    background-color: aqua;
    flex: 8;
}

#sectionB 
{
    background-color: red;    
    flex: 6;
}